<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Profile</title>
</head>
<body>
    <header>
        <%- include("./templates/backArrow.ejs") %>
        <h2 id="profileName"><%= profileName %></h2>
    </header>
    <main>
        <div>
            <textBox id="bioText"><%= bio? bio: "No Bio? That's Dull ;-;" %></textBox>
            <h3>User Stats</h3>
            <ul>
                <li>Fools : <%= (fools + incorrectFools)? `${(fools / (fools + incorrectFools))*100}%`: "Yet to make a post I see, Cringe..."%></li>
                <li>Correct Guesses : <%= correctGuesses %></li>
                <li>Total Guesses : <%= correctGuesses + incorrectGuesses %></li>
            </ul>
        </div>
        <div>
            <a href="/feed?user:<%= _id %>">See all posts</a>
        </div>
        
        <% if (user._id == _id) { %>
         <a href="/profile/<%= user._id %>/edit">Edit your profile</p>
        <% } %>
    </main>
</body>
</html>